# Ignorar carpetas generadas localmente por FMOD
.cache/
.user/
.unsaved/
.restore/

# Ignorar logs de FMOD
fmod.log
fmod_editor.log

# Ignorar bancos compilado
Build/

# Ignorar archivos temporales
*.tmp
